
    a {
        font-family: 'poppins', 'Arial';
        font-size: 17px;
        background: rgb(180, 231, 183);
        display: block;
        width: 90%;
        border-radius: 15px;
        padding: 5px 0px;
        color: white;
        text-align: center;
        text-decoration: none;
        margin: -4% 0% 0% 6%;
    }

    body {
        font-family: 'poppins';
        color: #39413c;
        background: #f7faf7;
        margin: 0%;
        margin-right: 0%;
    }


    p {
        font-size: 20px;
    }

    .img-divbanner {
        grid-row: 1 / 3;
        grid-column: 2 / 4;
        z-index: 2;
    }

    .img-background {
        float: right;
        width: 50%;
        overflow: visible;
    }

    .img-profile {
        width: 30%;
        padding-right: 4%;
    }

    .img-work {
        width: 30%;
        padding-left: 4%;
        margin-top: 5%;
        float: right;
    }

    /*--------------------Classes--------------------*/
    .para-heading {
        margin-top: -4%;
    }

    .para-heading1 {
        margin-top: -2%;
    }


    .readmore-lesstext {
        margin-top: 10%;
    }

    .blogbox {
        width: 17vw;
        height: 50vh;
        border-radius: 20px 20px 20px 20px;
        background-color: #f7faf7;
        box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.1);
        margin-top: -1%;
        
    }

    .bpost-title {
        text-align: center;
        margin-right: 6%;
        margin-top: -2%;
    }

    .bbtitle {
        font-size: 20px;
        margin-top: -5%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .bbtext {
        font-size: 16px;
        padding-left: 3%;
        padding-right: 3%;
        margin-top: -13%;
    }
    
    #bbleft {
        float: left;
        margin-left: 5%;
    }

    #bbright {
        float: right;
        margin-right: 10%;
    }

    .img-blogbox {
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;

    }


/*--------------------Grid Stuff--------------------*/

    .d1 {
        background:#f7faf7;
        grid-area: header;
    }
    .d2 {
        background:#f7faf7;
    }
    .d3 {
        background: transparent;
    }

    .d4 {
        background:#f7faf7;    
    }
    .d5 {
        background:#f7faf7;
        grid-area: content1;
    }
    .d6 {
        background:#f7faf7;
    }
    .d7 {
        background:#f7faf7;
    }
    .d8 {
        background:#f7faf7;
        grid-area: content2;
    }
    .d9 {
        background:#f7faf7;
    }
    .d10 {
        background:#f7faf7;
    }
    .d11 {
        background:#f7faf7;
    }
    .d12 {
        background:#f7faf7;
    } 
    .d13 {
        background:#f7faf7;
    }
    .d14 {
        background:#f7faf7;
    }
    .d15 {
        background:#f7faf7;
    }



    .container {
        font-size: 40px;
        width: 100%;
        margin-right: 0%;
        background: #f7faf7;
        display: grid;
        grid-template-columns: 19vw 60vw 20vw;
        grid-template-rows: 8vh 80vh 60vh 60vh 70vh;
        grid-template-areas: 
        ". header ."
        ". content1 content1"
        ". content2 ."
        ". content3 ."
        ". footer .";


  }