
    
    body {
        font-family: 'poppins';
        color: #39413c;
        background: #F7F9FB;
        margin: 0%;
        margin-right: 0%;
    }


    p {
        font-size: 20px;
    }

    li{
        list-style-type: none;
        display: inline;
        font-size: 1.5vw;
      }


    /*--------------------Classes--------------------*/

    .linktext {
        color: #39413c;
    }
    
    .move {
        margin-top: 10%;
    }

    .li-anchor {
        text-decoration: none;
        padding: 0.5vw 1vw 0.5vw 0vw ;
        color: #39413c;
   
      }
    
    .img-divbanner {
        grid-row: 1 / 3;
        grid-column: 2 / 4;
        z-index: 2;
    }

    .img-background {
        float: right;
        width: 50%;
        overflow: visible;
    }

    .img-profile {
        width: 30%;
        padding-right: 4%;
        margin-top: 7%;
        float: left;
    }

    .img-work {
        width: 30%;
        padding-left: 4%;
        margin-top: 5%;
        float: right;
    }

    .para-heading {
        margin-top: -4%;
    }

    .para-heading1 {
        margin-top: -2%;
        margin-right: 55%;
    }


    .readmore-lesstext {
        margin-top: 10%;
    }
    
    .blogbutton {
        font-family: 'poppins', 'Arial';
        font-size: 17px;
        background: rgb(180, 231, 183);
        display: block;
        width: 90%;
        border-radius: 15px;
        padding: 5px 0px;
        color: white;
        text-align: center;
        text-decoration: none;
        margin: -4% 0% 0% 6%;
    }
    .blogbox {
        width: 300px;
        height: 410px;
        border-radius: 20px 20px 20px 20px;
        background-color: #F7F9FB;
        box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.1);
        margin-top: -1%; 
    }

    .bpost-title {
        text-align: center;
        margin-right: 6%;
        margin-top: -2%;
    }

    .bbtitle {
        font-size: 17px;
        margin-top: -5%;
        padding-left: 3%;
        padding-right: 3%;

    }

    .bbtext {
        font-size: 16px;
        padding-left: 3%;
        padding-right: 3%;
        margin-top: -13%;

    }
    
    #bbleft {
        
        margin-left: 5%;
    }

    #bbright {
        
        margin-right: 10%;
    }

    .img-blogbox {
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    .topdiv-move {
        margin-top: 5%;
    }


/*--------------------Grid Stuff--------------------*/

    .d1 {
        background:#F7F9FB;
        /*grid-area: header; */
    }
    .d2 {
        background:#F7F9FB;
        z-index: 4;
    }
    .d3 {
        background: transparent;
    }

    .d4 {
        background:#F7F9FB;    
    }
    .d5 {
        background:#F7F9FB;
        /*grid-area: content1; */
    }
    .d6 {
        background:#F7F9FB;
    }
    .d7 {
        background:#F7F9FB;
    }
    .d8 {
        background:#F7F9FB;
        /* grid-area: content2; */
    }
    .d9 {
        background:#F7F9FB;
    }
  


    .container {
        font-size: 40px;
        width: 100%;
        margin-right: 0%;
        background: #F7F9FB;
        display: grid;
        grid-template-columns: 19vw 60vw 20vw;
        grid-template-rows: 8vh 90vh 65vh 70vh
      
    }

  /*--------------------Media Queries--------------------*/
    
    @media (max-width: 1500px) and (min-width: 851px) {
        li{
            font-size: 2vw;
        
        }
    }

    @media (max-width: 1645px) {
        .img-profile {
            margin-top: 15%;
        }
        .img-work {
            margin-top: 15%;
        }
        @media (max-width: 1350px) {
            .img-profile {
                margin-top: 17%;
                width: 45%;
            }
            .img-work {
                margin-top: 17%;
                width: 45%;
            }
        }
   }
    

    @media screen and (max-width: 840px) {
      
        li{
            font-size: 3vw;
        
        }
        
        h1 {
            font-size: 9vw;
        }
        
        .topdiv-move {
            margin-top: 15%;
        }

        .para-heading1 {
            margin-right: 5%;
        }

        .brphone {
            display: none;
        } 
        
        .container {
            grid-template-columns: 14vw 80vw 5vw;
            grid-template-rows: 8vh 70vh 130vh 80vh;
          
        } 

        .img-profile {
            float: none;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 75%;
        
        }

        .img-work {
            float: none;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 75%;
        
        }
  
        @media (max-height: 420px) {
            .img-profile {
                display: none;
            }
            .img-work {
                display: none;
            }
            .container {
                grid-template-columns: 14vw 80vw 5vw;
                grid-template-rows: 8vh 115vh 125vh 60vh;
            }
        }

        @media (max-height: 340px) {
            .img-profile {
                display: none;
            }
            .img-work {
                display: none;
            }
            .container {
                grid-template-columns: 14vw 80vw 5vw;
                grid-template-rows: 8vh 115vh 150vh 60vh;
            }
        }

        @media  (min-height: 900px) {
            .container {
                grid-template-columns: 14vw 80vw 5vw;
                grid-template-rows: 8vh 55vh 95vh 60vh;
            }         
        }

        @media screen and (max-width: 400px) {
            .container {
                grid-template-columns: 14vw 80vw 5vw;
                grid-template-rows: 8vh 70vh 150vh 110vh;            
            }              
        }

        @media screen and (min-height: 790px) {
            .container {
                grid-template-columns: 14vw 80vw 5vw;
                grid-template-rows: 8vh 65vh 125vh 70vh;            
            }              
        }
       
    }
    
    

    @media (min-width: 900px) and (min-height: 900px) and (max-width: 1150px) {
            .container {
                grid-template-columns: 14vw 80vw 5vw;
                grid-template-rows: 8vh 40vh 45vh 45vh;
        }
    }

